altair>=5.0.0
attrs
blinker
cachetools
certifi
charset-normalizer
click
cryptography
et_xmlfile
gitpython
jinja2
jsonschema
matplotlib
mysql-connector-python
narwhals
numpy
openpyxl
packaging
pandas
pillow
plotly
protobuf
pyarrow
pydeck
pyotp
pyparsing
python-dateutil
python-decouple
python-dotenv
pytz
requests
seaborn
six
sqlalchemy
streamlit==1.47.0
streamlit-aggrid
streamlit-cookies-controller
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
xlsxwriter
